body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ef5dd9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    
    opacity: 0; 
    animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

input, select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid   #000000; 
    border-radius: 6px;
    background-color: #fafafa; 
    transition: border-color 0.3s;
}

input:focus {
    border-color: #3498db;
    outline: none;
}

button {
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    
    transition: background-color 0.4s ease, transform 0.2s;
}

button:hover {
    background-color: #2ecc71; 
    transform: scale(1.02); 
}
